{% extends 'base.html' %} 
{% load static %}
{% block content %}

<div class="container">
    <div class="row" style="margin-top: 30px;margin-bottom: 30px;">

        <h1>
            Article Django + Vue.js
        </h1>
    </div>

<div id="app">
        <div class="row">
            <h1>
                List of Articles
            </h1>
            <hr style="margin-bottom: 10px; margin-top: 10px;" />


            <form action="." v-on:submit.prevent="getArticles()">
                <div class="input-group mb-3">
                    <input type="text" 
                    v-model="search"
                    class="form-control" 
                    placeholder="Search by title" 
                    aria-label="Search by title" 
                    aria-describedby="search by title">
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" type="submit">
                            <i class="fa fa-search-plus"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="row col-12 mt-5 mb-2">
                <button 
                    class="btn btn-primary" 
                    data-toggle="modal" 
                    data-target="#addArticleModal"> 
                        ADD ARTICLE
                    <i class="ml-3 fa fa-plus"></i>
                    </button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="article in articles">
                        <th scope="row"> ${article.pk}</th>
                        <th scope="row"> ${article.title} </th>

                        <th scope="row">
                            <button class="btn btn-warning" v-on:click="getArticle(article.pk)">
                                Edit
                            </button>
                        </th>

                        <th scope="row">
                            <button class="btn btn-danger" v-on:click="deleteArticle(article)">
                                Delete
                            </button>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="loading" v-if="loading===true">loading&#8230;</div>
        </div>
    
        
        <div id="addArticleModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">ADD Article</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form v-on:submit.prevent="addArticle()" >
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id_title">Title</label>
                            <input
                            v-model="newArticle.title"
                            placeholder="Entre with new title"
                            type="text"
                            name="title"
                            id="id_title"
                            class="form-control">

                            <trumbowyg  id="id_body"
                                v-model="newArticle.body" 
                                class="editor">
                            </trumbowyg>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
              </div>
            </div>
            <div class="loading" v-if="loading===true">Loading&#8230;</div>
        </div>
    
        <div id="updateArticleModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Update Article</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form method="POST" v-on:submit.prevent="updateArticle()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id_title">Title</label>
                            <input 
                            v-model="currentArticle.title"
                            placeholder="Entre with new title"
                            type="text" 
                            name="title" 
                            id="id_title" 
                            class="form-control">
        
                            <label for="id_body">Body</label>
                            <trumbowyg  id="id_body"
                                v-model="currentArticle.body" 
                                class="editor">
                            </trumbowyg>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
              </div>
            </div>
            <div class="loading" v-if="loading===true">Loading&#8230;</div>
        </div>
    </div>


</div>


{% endblock %}

{% block js_custom %}
    <script type="text/javascript">
    Vue.component('Trumbowyg', VueTrumbowyg.default);
    new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            config: {
                //http://alex-d.github.io/Trumbowyg/documentation.html#basic-options
            },
            search: "",
            baseURL: "/api/article/",
            articles: [],
            loading: false,
            message: null,
            currentArticle: {},
            newArticle: {
                'title': null,
                'body': null
            }
        },
        mounted: function(){
            this.getArticles();
        },
        methods: {
            getArticles: function(){
                this.loading = true
                let api_url = this.baseURL
                if (this.search !== "" || this !== null){
                    api_url = `${this.baseURL}?search=${this.search}`
                }
                this.$http.get(`${api_url}`)
                    .then((response) => {
                        this.loading = false;
                        this.articles = response.data
                    }).catch(err => {
                        console.log(err)
                    })
                console.log(this.articles)
            },
            getArticle: function(pk){
                this.loading = true
                this.$http.get(`${this.baseURL}${pk}/`)
                    .then(response => {
                        this.currentArticle = response.data
                        this.loading = false
                        $("#updateArticleModal").modal("show")
                    }).catch(err => {
                        console.log(err)
                    })
            },
            addArticle: function(){
                this.loading = true
                this.$http.post(`${this.baseURL}`, this.newArticle)
                    .then(response => {
                        this.loading = false
                        $("#addArticleModal").modal("hide")
                        this.newArticle ={
                            'title': null, 'body': null
                        }
                        this.getArticles()
                    }).catch( err => {
                        $("#addArticleModal").modal("hide")
                        console.log(err)
                    })
            },
            updateArticle: function(){
                this.loading = true
                this.$http.put(`${this.baseURL}${this.currentArticle.pk}/`, this.currentArticle)
                    .then(response => {
                        this.currentArticle = response.data
                        this.loading = false
                        $("#updateArticleModal").modal("hide")
                        this.getArticles()
                        console.log(this.articles)
                    }).catch( err => {
                        $("#updateArticleModal").modal("hide")
                        console.log(err)
                    })
            },
            deleteArticle: function(article){
                const ok = confirm(`you relay wish delete the Article "pk:${article.pk} title:${article.title}`)
                if (ok) {
                    this.loading = true
                    this.$http.delete(`${this.baseURL}${article.pk}`)
                    .then(response => {
                        this.loading = false
                        this.getArticles()
                    }).catch( response => {
                        console.log(err)
                    })
                }
            }
        }
    })
    </script>
{% endblock %} 